# Tendermint config
TENDERMINT_RPC_URL=

# Script config
ETHEREUM_RPC_URL=
SUCCINCT_RPC_URL=https://alpha.succinct.xyz/api
SUCCINCT_API_KEY=
CHAIN_ID=5
CONTRACT_ADDRESS=
STEP_FUNCTION_ID=
SKIP_FUNCTION_ID=
